{{ define "main" }}



<h3 class="text-center text-success mt-3 mb-3"> Bienvenue </h3>
<h3 class="text-center text-success mt-3 mb-3"> Les 10 prochains évènements importans : </h3>
<div class="container">
    <div class="card-deck">
        <div class="row">

            {{ $.Scratch.Set "counter" 0 }}

            {{ range .Site.RegularPages }}
            {{ if lt ($.Scratch.Get "counter") 5 }}
            {{ if eq .Type "events" }}
            {{ if eq .Params.Important true}}
         
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}

            

            {{ if .Params.Draft }}


            <div class="col-sm-12 mb-5">
                    <div class="card ">
                        <img class="card-img-top card-event" src="/pictures/{{ index (.Params.Photos) 0 }}"
                            alt="Card image cap">
                        <div class="card-body">
                            <div class="row mx-md-n5">
                                <div class="col py-3 px-md-5 bordered col-example">
                                    <h5 class="card-title">{{ .Params.Title }}</h5>
                                </div>
                                <div class="col py-3 px-md-7 bordered col-example">
                                    <h6> le {{ .Params.When }} </h6>
                                </div>
                            </div>
                            <p class="card-text">{{ .Params.Description }}</p>
                        </div>
                    </div>
                </div>
            

            {{ else }}


            {{ partial "partialeventscards" .}}

                {{ end }}
                {{ end }}
                {{ end }}
                {{ end }}
                {{ end }}

        </div>
    </div>
</div>



{{ end }}