{{ define "main" }}

<h2> test affichage d'un event </h2>

<!-- {{ range first 10 .Data.Pages }}
{{ if eq .Type "events" }}
<h1> <a href ="{{ .Permalink }}"> le nom de l'event est : {{ .Title }}  </a> </h1>
{{ end }}
{{ end }} -->






<!-- test passage de variable -->
{{/* partial "test.html" (dict "context" . "param" "1") */}}



<h1>test bouton conseillers municipaux </h1>
<a href="/conseil-municipal"> ici</a>



<!-- Effectue une boucle sur TOUTES les pages du site
Site.RegularPages a la place de data.pages
-->
<!-- {{ range first 10 .Data.Pages }} -->
<!-- SI la page est un post -->

<!--
{{ if eq .Type "posts" }}
<h2>
<a href ="{{ .Permalink }}"> {{ .Title }} </a>
</h2>
{{ end }}
<!-- Fin if -->
<!-- {{ end }} -->
<!-- Fin range -->

<!-- <h1>test</h1> -->

{{ end }}
