{{ $url := path.Base .Permalink }}
{{ if eq $url "events"}}

{{ range .Data.Pages }}
{{ if eq .Type "events" }}
{{ partial "partialevents" (dict "context" . "param" "0") }}

<h1> <a href ="{{ .Permalink }}"> le nom de l'event est : {{ .Title }}  </a> </h1>
{{ end }}
{{ end }}

{{ else if eq $url "conseil-municipal"}}

<h2> affichage des conseillers </h2>
<ul>
{{ range .Data.Pages }}
{{ if eq .Type "conseil-municipal" }}
<li> {{ .Params.FirstName }} {{ upper .Params.LastName }} {{ .Params.Role }} </li>
{{ end }}
{{ end }}
</ul>

<p> <a href="/"> retour </a> </p>

{{ end }}
