{{ define "main" }}

<div class="container">

<div class="mb-3">
  <span class=" h1 text-success">Contacter l'hôtel de ville</span>
</div>

<div class="mb-4 mt-2">
<form action="https://formspree.io/axel.ludwig@outlook.com" method="POST" class="form-horizontal" action="/action_page.php">
  <div class="form-group">
    <p class="text-secondary h5 control-label col-sm-5" for="email">Votre adresse mail : </p>
    <div class="col-sm-12 green-border-focus">
      <input type="email" name="_replyto" class="form-control" id="email" placeholder="Entrez une email valide">
    </div>
  </div>
</div>


<div class="mb-4 mt-2">
  <div class="form-group">
    <p class="text-secondary h5 control-label col-sm-5">L'objet de votre demande :</p>
    <div class="col-sm-12 green-border-focus">
      <input name="object" id="object" class="form-control" placeholder="Objet">
    </div>
  </div>
</div>

<div class="mb-4 mt-2">
    <div class="form-group">

      <p class="text-secondary h5 control-label col-sm-5"> Votre message </p>
      <div class="col-sm-12 green-border-focus">
      <textarea name="message" class="form-control" id="exampleFormControlTextarea5" rows="5"></textarea>
    </div>
    </div>
  </div>


<div class="mb-4 mt-2">
  <div class="form-group">
    <div class="col-sm-12 ">
     <button type="submit" value="Send" class="btn btn-outline-success my-2 my-sm-0">Submit</button>
    </div>
  </div>
</div>

</div>




{{ end }}
