<!-- <footer class="fixed-bottom footer"> -->
<footer class="footer">
  

  <style>
  a {
        padding: 8px 8px 8px 0px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    a:hover 
{
     color:#3DA745; 
     text-decoration:none; 
     cursor:pointer;  
}
  </style>

  <div class="container">
<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-success text-uppercase mt-3 mb-4">CONTACT</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="/contact">Formulaire de contact</a>
            </li>
            <li>
              <a href="mailto:san@antonio.net">mairie@starsbourg.eu</a>
            </li>
            <li>
              <a href="tel:+33647130213">+33 3 88 60 90 90</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-1 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
  
          <ul class="list-unstyled">
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-success text-uppercase mt-3 mb-3">NOUS RETROUVER</h5>
  
          <ul class="list-unstyled">
            <li>
                <div style="width: 600px;position: relative;"><iframe width="600" height="200"
                  src="https://maps.google.com/maps?width=600&amp;height=200&amp;hl=en&amp;q=place%20de%20l%5C'hotel%20de%20ville+(Town%20Hall)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <div
                  style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
                  <style>
                  #gmap_canvas img {
                    max-width: none !important;
                    background: none !important
                  }
                </style>
              </div><br />
            </li>
          </ul>
  
        </div>
        <!-- Grid column --><!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->

  
  </footer>
  <!-- Footer -->
  
        <hr class="clearfix w-100 d-md-none">
  
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  
  </footer>
  <!-- Footer -->

  </div>


</footer>