<footer>
  <div class="footer">

  <div class="row">


<div class="col">
</div>
<div class="col test">
Nous contacter
</div>
<div class="col">
</div>
<div class="col">
</div>
<div class="col">
</div>
<div class="col">
</div>
<div class="col">
</div>
<div class="col">
</div>
<div class="col">
</div>
<div class="col">
</div>
</div>

<div class="row">


      <div class="col-xs-6 col-md-4 ">
        <!-- <script> function Form() { window.location.href = "/formulaire";} </script>
          <p  class="lienform test" onclick="Form()">Formulaire en ligne</p> -->
          <button onclick="window.location='/formulaire';" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ouvir le formulaire dans une nouvelle page"> Formulaire en ligne
      </div>
      <div class="col-xs-6 col-md-4">
          Place de l'Hôtel de Ville
      </div>
      <div class="col-xs-6 col-md-4">
          <div style="width: 300px;position: relative;"><iframe width="300" height="150" src="https://maps.google.com/maps?width=300&amp;height=150&amp;hl=en&amp;q=Place%20de%20l%5C'h%C3%B4tel%20paris+(Town%20Hall)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/ja/">googlemapsgen (ja)</a> & <a href="https://opwaarderenlebara.nl/">opwaarderenlebara</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
      </div>

      <div class="col-xs-6 col-md-4">
          <button onclick="window.location='mailto:san@antonio.net';" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Envoyer directement un mail"> adressemail@gmail.com
      </div>

      <div class="col-xs-6 col-md-4">
          75004 Paris
      </div>
      <div class="col-xs-6 col-md-4">

      </div>
      <div class="col-xs-6 col-md-4">
          <button onclick="window.location='tel:+33647130213';" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Appeler le numéro"> +33647130213
      </div>

      <div class="col-xs-6 col-md-4">

      </div>

</div>



  </div>
</footer>
