<!-- <footer class="fixed-bottom footer"> -->
<footer class="footer">

<div class="row">


      <div class="col-xs-4 col-md-4 test">
        <!-- <script> function Form() { window.location.href = "/formulaire";} </script>
          <p  class="lienform test" onclick="Form()">Formulaire en ligne</p> -->
          <p class="contact"> Nous contacter </p>

          <div class="contact2">
            <div class="">
              <button onclick="window.location='/contact';" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ouvir le formulaire dans une nouvelle page"> Formulaire en ligne </button>

            </div>
            <div class="">
              <button onclick="window.location='mailto:san@antonio.net';" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Envoyer un mail"> axel.ludwig@outlook.com </button>

            </div>
            <div class="">
              <button onclick="window.location='tel:+33647130213';" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Appeler le numéro"> +33647130213 </button>

            </div>

          </div>

      </div>

      <div class="col-xs-4 col-md-">
        75004 Paris
        <br>
        Place de l'Hôtel de Ville
      </div>

      <div class="col-xs-4 col-md-4 carte">

        <div style="width: 600px;position: relative;"><iframe width="600" height="200" src="https://maps.google.com/maps?width=600&amp;height=200&amp;hl=en&amp;q=place%20de%20l%5C'hotel%20de%20ville+(Town%20Hall)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/zh/">googlemapsgen (zh)</a> & <a href="http://brightononline.ca/fr/">custommapprints (french)</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />

      </div>

</div>




</footer>

<!-- 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
