<header>


<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top"> -->



  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom ">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>




<nav id="sidebar" class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top ">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}"> Home </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <style >
        .dropdown:hover>.dropdown-menu{display: block;}
      </style>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/events" id="navbardrop" data-toggle="dropdown">
          Evenements
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/archives">Archives</a>
          <a class="dropdown-item" href="/prochainement">Prochainement</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/conseil-municipal">Conseil municipal</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/associations">Associations</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/calendrier">Calendrier</a>
      </li>

      <li class="nav-item">

      </li>
    </ul>




<!-- Formulaire de recherche -->
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>


</nav>

</div>
<!-- /#page-content-wrapper -->



</div>



<br><br>

<!-- ===================================================================== -->


</header>



<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
