<!DOCTYPE html>
<head>

<link href="/css/bootstrap.min.css" rel="stylesheet">

<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">


<script src="/js/jquery-3.4.1.min.js"></script>


<meta charset="UTF-8">
<meta name="viewport" content ="width=device-width, initial-scale=1.0">
<meta http-equiv ="X-UA - Compatible " content="ie= edge">
<title> Town hall website </title>



<link href='/fullcalendar/core/main.css' rel='stylesheet' />
<link href='/fullcalendar/daygrid/main.css' rel='stylesheet' />
<script src='/fullcalendar/core/main.js'></script>
<script src='/fullcalendar/interaction/main.js'></script>
<script src='/fullcalendar/daygrid/main.js'></script>



</head>
