{{ if eq .param "0" }}


<h4> Liste des évenements </h4>



<div class="card-deck">

{{ range .context.Data.Pages }}
{{ if eq .Type "events" }}



  <div class="card">
    <img class="card-img-top" src="/pictures/{{ index (.Params.Photos) 0 }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ .Params.Title }}</h5>
      <p class="card-text">{{ .Params.Description }}</p>
    </div>
    <div class="card-footer">
      <script type="text/javascript">
        function link(n) { window.location.href = n;}
      </script>
      <button onclick="link({{.Permalink}})" type="button" class="btn btn-primary btn-lg btn-block">Voir plus</button>
    </div>
  </div>







{{ end }}
{{ end }}

</div>


{{ else if eq .param "1" }}
<h1> je susi sle numeroi 1 </h1>
{{ end }}
