<div class="container">

  <h3 class="text-success mt-2 mb-4">
    {{ if eq .param "0" }} Liste de tous les évènements
    {{ else if eq .param "1" }} Liste des évènements à venir
    {{ else if eq .param "2" }} Liste des évènements archivés
    {{ end }}
    <small class="text-muted"></small>
  </h3>


<div class="card-deck">
<div class="row">


{{ if eq .param "1" }}
{{ range .context.Site.RegularPages }}
{{ if eq .Type "events" }}
{{ if gt .Params.When (now.Format "2006-01-02") }}

{{ partial "partialeventscards" . }}

{{ end }}
{{ end }}
{{ end }}


{{ else if eq .param "2" }}
{{ range .context.Site.RegularPages }}
{{ if eq .Type "events" }}
{{ if lt .Params.When (now.Format "2006-01-02") }}

{{ partial "partialeventscards" . }}

{{ end }}
{{ end }}
{{ end }}

{{ else }}
{{ range .context.Site.RegularPages }}
{{ if eq .Type "events" }}

{{ partial "partialeventscards" . }}

{{ end }}
{{ end }}
{{ end }}

</div>
</div>
</div>
