<div id="mySidebar" class="sidebar">
    
    <p style="padding: 10px 8px 0px 30px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;"> Recherche </p>

    <div id="search">
            <input id="searchinput" class="recherche" type="text" placeholder="Search" v-model="txt" onkeyup="recherche()" maxlength="50">
          
        <div id="searchresults">


        </div>
    </div>




    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <p class="sidebar-spot"> Spotlight </p>
    {{ range .Site.RegularPages }}
    {{ if eq .Type "associations" }}
    {{ if .Params.Important }}
    <a href="{{ .Permalink }} "> {{ .Params.Title }} </a>
    {{ end }}
    {{ end }}
    {{ end }}

</div>




<script>
        function recherche() {
            request = document.getElementById("searchinput").value;
            searchdiv = document.getElementById("searchresults");
    
            //Création div tri
            events = "<div> <p class=\"sidebar-spot\"> Events </p> </div>";
            associations = "<div> <p class=\"sidebar-spot\"> Associations </p> </div>";
    
    
            //boucle principale de tous les types
    
            {{ range .Site.RegularPages }}
            {{ if eq .Type "events" }}
    
            title = {{ .Params.Title }}
            add = {{ .Params.Add }}
            postalCode = {{ .Params.PostalCode }}
            city = {{ .Params.City }}
            label = {{ .Params.Label }}
            when = {{ .Params.When }}
            description = {{ .Params.Description }}
    
            contents = [title, add, postalCode, city, label, when, description];

            i = 0;
            trouve = false;
            length = contents.length;
            while ((!trouve) && (i < length)){
                contents[i] = contents[i];
                if ((contents[i] != "") && (contents[i].length >= request.length) && (contents[i].includes(request))){
                events += '<div><a class="searchresult" href="{{ .Permalink }} "> {{ .Params.Title }} </a></div>';
                trouve = true;
                }

                i++;
            }
    
    
            {{ else if eq .Type "associations" }}
    
            title = {{ .Params.Title }}
            adress = {{ .Params.adress }}
            domain = {{ .Params.domain }}
            id = {{ .Params.Id }}
            description = {{ .Params.Description }}
    
            contents = [title, adress, domain, id, description];

            i = 0;
            trouve = false;
            length = contents.length;
            while ((!trouve) && (i < length)){
                contents[i] = contents[i];
                if ((contents[i] != "") && (contents[i].length >= request.length) && (contents[i].includes(request))){
                associations += '<div><a class="searchresult" href="{{ .Permalink }} "> {{ .Params.Title }} </a></div>';
                trouve = true;
                }

                i++;
            }
    
    
            {{ end }}
            {{ end }}


            if (request == "") result = "";
            else result = events.concat(associations);
            
            searchdiv.innerHTML = result;
    
            }
    </script>




<!-- CSS et script sidebar-->

<script>

    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
    }
</script>

<style>
    /* The button used to open the sidebar */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #444;
    }

    .sidebar {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #343A41;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
    }

    .recherche{
        margin-left: 1px;
        text-decoration: none;
        color: #818181;
        display: block;
        font-size: 19px;
    }

    .sidebar-spot {
        padding: 42px 8px 8px 65px;
        text-decoration: none;
        font-size: 25px;
        color: #3DA745;
        display: block;
        transition: 0.3s;
    }

    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
        position: absolute;
        top: 53px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* The button used to open the sidebar */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #343A41;
        color: white;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #54595e;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        /* If you want a transition effect */
        padding: 20px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }

        .sidebar a {
            font-size: 18px;
        }
    }
</style>